<div class="logged_in">
  <h1>Services</h1>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if !params[:merchant_id] && !params[:client_id] %>
    <%= form_tag("/services", method: "get") do %>
      <%= select_tag "date", options_for_select(["Most Recent", "Oldest"]), include_blank: true %>
      <%= submit_tag "Filter" %>
    <% end %>
  <% end %>
  <ul>
    <% services.each do |service| %>
      <li><%= link_to service.name, merchant_service_path(service.merchant, service) %></li>
    <% end %>
  </ul>

  <p><%= link_to "Click here", user_account_path(current_user) %> to return to your account page.</p>
</div>
