<h1><%= @service.name %></h1>
<p><%= @service.description %></p>
<p>Sold by <%= @service.merchant.name %></p>

<% if service_client_view %>
  <p><%= link_to "Click here", service_path(@service), method: "patch" %> to buy this service!</p>
<% elsif service_merchant_view %>
  <p><%= link_to "Click here", edit_merchant_service_path(@service.merchant, @service) %> to edit this service.</p>
  <p><%= link_to "Click here", service_path(@service), method: "delete" %> to delete this service.</p>
<% end %>
