<h1>Name: <%= @service.name %></h1>
<p>Description: <%= @service.description %></p>
<p>Sold by <%= link_to @service.merchant.name, user_account_path(@service.merchant.user_account) %></p>

<% if service_client_view %>
  <% if !@service.bought %>
    <p><%= link_to "Click here", service_path(@service), method: "post" %> to buy this service!</p>
  <% end %>
  <p><%= link_to "Click here", services_path %> to view all current services.</p>
<% elsif service_merchant_view %>
  <% if @service.bought && !@service.completed %>
    <p><%= link_to "Click here", url: "/complete/#{@service.id}", method: "post" %> to mark this service as complete.</p>
  <% elsif @service.bought && @service.completed %>
    <p>You have completed this service.</p>
  <% else %>
    <p><%= link_to "Click here", edit_merchant_service_path(@service.merchant, @service) %> to edit this service.</p>
    <p><%= link_to "Click here", service_path(@service), method: "delete" %> to delete this service.</p>
    <p><%= link_to "Click here", merchant_services_path(current_user.merchant) %> to view all of your services.</p>
  <% end %>
<% end %>
