<div class="logged_in">
  <h1>Profile page for <%= @user_account.username %></h1>
  <% if current_user == @user_account %>
    <% if @user_account.merchant.nil? %>
      <p>If you want to sell something, <%= link_to "click here", merchants_path, method: "post" %></p>
    <% else %>
      <p><%= link_to "Click here", new_merchant_item_path(@user_account.merchant) %> to add a new item for sale!</p>
      <p><%= link_to "Click here", new_merchant_service_path(@user_account.merchant) %> to add a new service for sale!</p>
      <p><%= link_to "Click here", merchant_items_path(@user_account.merchant) %> to see all the items you've put up for sale!</p>
      <p><%= link_to "Click here", merchant_services_path(@user_account.merchant) %> to see all the services you've put up for sale!</p>
      <p><%= link_to "Click here", clients_path %> to see your clients who purchased your services.</p>
    <% end %>

    <% if @user_account.client.nil? %>
      <p>If you want to buy something, <%= link_to "click here", clients_path, method: "post" %></p>
    <% else %>
      <p><%= link_to "Click here", client_items_path(@user_account.client) %> to see all the items you've bought!</p>
      <p><%= link_to "Click here", client_services_path(@user_account.client) %> to see all the services you've bought!</p>
    <% end %>
    <p><%= link_to "Click here", items_path, id: "js-all-items" %> to see all items for sale!</p>
    <div id="all-items"></div>
    <p><%= link_to "Click here", services_path, id: "js-all-services" %> to see all services for sale!</p>
    <div id="all-services"></div>
    <p><%= link_to "Click here", merchants_path, id: "js-all-merchants" %> to see all current merchants and their various items and services.</p>
    <div id="all-merchants"></div>
    <p><%= link_to "Log out", logout_path %></p>

  <% else %>
    <p><%= link_to "Click here", items_path, id: "js-all-items" %> to see all items for sale!</p>
    <div id="all-items"></div>
    <p><%= link_to "Click here", services_path, id: "js-all-services" %> to see all services for sale!</p>
    <div id="all-services"></div>
    <p><%= link_to "Click here", merchants_path, id: "js-all-merchants" %> to see all current merchants and their various items and services.</p>
    <div id="all-merchants"></div>
  <% end %>
</div>

<!-- <script type="text/javascript" charset="utf-8">
  $(function() {
    $("#js-all-items").on("click", function(e) {
      e.preventDefault();
      $.get("/items.json", function(data) {
        for (const i in data) {
          $("#all-items").append(`
            <h4>${data[i].name}</h4>
            <p>${data[i].description}</p>
            `);
        }
      });
    });

    $("#js-all-merchants").on("click", function(e) {
      e.preventDefault();
      $.get("/merchants.json", function(data) {
        for (const m in data) {
          $("#all-merchants").append(`<h3>${data[m]["name"]}</h3><br>`);
          for (const i in data[m]["items"]) {
            $("#all-merchants").append(`
              <h4>${data[m]["items"][i].name}</h4>
              <p>${data[m]["items"][i].description}</p>
              `)
          }
        }
      });
    });
  });
</script> -->
