<h1>Profile page for <%= @user_account.username %></h1>
<% if @user_account.merchant.nil? %>
  <p>If you want to sell something, <%= link_to "click here", merchants_path, method: "post" %></p>
<% else %>
  <p><%= link_to "Click here", new_item_path %> to add a new item for sale!</p>
  <p><%= link_to "Click here", new_service_path %> to add a new service for sale!</p>
  <p><%= link_to "Click here", merchant_items_path %> to see all the items you've put up for sale!</p>
  <p><%= link_to "Click here", merchant_services_path %> to see all the services you've put up for sale!</p>
<% end %>

<% if @user_account.client.nil? %>
  <p>If you want to buy something, <%= link_to "click here", clients_path, method: "post" %></p>
<% else %>
  <p><%= link_to "Click here", client_items_path %>to see all the items you've bought!</p>
  <p><%= link_to "Click here", client_services_path %>to see all the services you've bought!</p>
<% end %>
