<% if item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(item.errors.count, "error") %> prevented you from creating your item:</h2>
    <ul>
    <% item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for item do |i| %>
  <%= i.hidden_field :merchant_id %>

  <%= i.label :name %>
  <%= i.text_field :name %>
  <br>
  <%= i.label :description %>
  <%= i.text_field :description %>
  <br>
  <%= i.label :quantity %>
  <%= i.number_field :quantity %>
  <br><br>
  <%= i.submit %>
<% end %>
