<h1><%= @item.name %></h1>
<p><%= @item.description %></p>
<p>Sold by <%= @item.merchant.name %></p>

<% if item_client_view %>
  <p><%= link_to "Click here", item_path(@item), method: "patch" %> to buy this item!</p>
<% elsif item_merchant_view %>
  <p><%= link_to "Click here", edit_merchant_item_path(@item) %> to edit this item.</p>
<% end %>
