<div class="logged_in">
  <h1 id="itemName">Name: <%= @item.name %></h1>
  <p id="itemDescription">Description: <%= @item.description %></p>
  <p>Sold by <%= link_to @item.merchant.name, user_account_path(@item.merchant.user_account), id: "itemMerchant" %></p>

  <button href="#" id="js-next-item" data-id="<%= @item.id %>">Next item</button>

  <% if item_client_view %>
    <% if !@item.bought %>
      <p><%= link_to "Click here", item_path(@item), method: "post" %> to buy this item!</p>
    <% end %>
    <p><%= link_to "Click here", items_path %> to view all items for sale.</p>
  <% elsif item_merchant_view %>
    <% if !@item.bought %>
      <p><%= link_to "Click here", edit_merchant_item_path(@item.merchant, @item) %> to edit this item.</p>
      <p><%= link_to "Click here", item_path(@item), method: "delete" %> to delete this item.</p>
    <% end %>
    <p><%= link_to "Click here", merchant_items_path(current_user.merchant) %> to view all of your items.</p>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#js-next-item").on("click", function() {
      let nextId = parseInt($("#js-next-item").attr("data-id")) + 1;
      $.get("/items/" + nextId + ".json", function(data) {
        $("#itemName").text(data.name);
        $("#itemDescription").text(data.description);
        $("#itemMerchant").text(data.merchant.name);
        $("#js-next-item").attr("data-id", data.id);
      });
    });
  });
</script>
